footer.footer
  //  Start Middle Top 
  .footer-middle
    .container
      .row
        .col-lg-5.col-md-5.col-12
          //  Single Widget 
          .f-about.single-footer
            .logo
              a(href='index.html')
                img(src='img/jtd-logo.svg' alt='#')
            p We specialize in designing, building, and maintaining mobile apps, robust backends, and dynamic dashboards tailored to elevate businesses. Our solutions turn every investment into sustainable growth with lasting impact.
            .footer-social
              ul
                li
                    a(href='https://www.instagram.com/jawara.teknologi.digital/' target='_blank' alt='Instagram Jawara Teknologi Digital')
                        i.lni.lni-instagram-filled
                li
                    a(href='https://www.linkedin.com/company/105967384' target='_blank' alt='LinkedIn Jawara Teknologi Digital')
                        i.lni.lni-linkedin-original
          //  End Single Widget 
        .col-lg-7.col-md-7.col-12
          .row
            .col-lg-6.col-md-6.col-6
              //  Single Widget 
              .single-footer.f-link
                h3 Company
                ul
                  li
                    a(href='#service') Our Service
                  li
                    a(href='#team') Team
                  li
                    a(href='#client') Happy Clients
                  li
                    a(href='#contact') Get Quotes
            .col-lg-6.col-md-6.col-6
              //  Single Widget 
              .single-footer.f-contact.f-link
                h3 Contact Us
                p Unrestricted &amp; nothing limits our potential
                ul.footer-contact
                  li
                    i.lni.lni-phone
                    |  
                    a(href='tel:+628138145618') (+62) 813-814-5618
                  li
                    i.lni.lni-envelope
                    |  
                    a(href='mailto:info@jawaratech.co.id') info@jawaratech.co.id
                  li
                    i.lni.lni-map-marker
                    |  CAPITAL EIGHT, Jakarta, Indonesia
                  li
                    i.lni.lni-world
                    |  
                    a(href='https://jawaratech.co.id' target='_blank') www.jawaratech.co.id
              //  End Single Widget 
  // / End Footer Middle 
  //  Start Footer Bottom 
  .footer-bottom
    .container
      .inner
        .row
          .col-lg-6.col-md-6.col-12
            .left
              p
                | Designed and Developed by @jawaratech
          .col-lg-6.col-md-6.col-12
            .right
              p All Right Reserved Design By 
                | Jawara Teknologi Digital
  //  End Footer Middle 

a.scroll-top.btn-hover(href='#' style='display: block;')
  i.lni.lni-chevron-up