@import "variable";
@import "boostrap/functions";
@import "boostrap/variables";
@import "boostrap/variables-dark";
@import "boostrap/maps";
@import "boostrap/mixins";
@import "boostrap/utilities";
// @import "bootstrap-icons";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

::selection {
  background: var(--primary);
  color: #fff;
}
::-moz-selection {
  background: var(--primary);
  color: #fff;
}

body {
  font-size: 1.125rem;
  position: relative;
}

//
@import "normalize";
@import "font-custom";
@import "bootstrap-grid";
// Helpers
@import "boostrap/helpers";
// Utilities
@import "boostrap/utilities/api";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1,
.h1 {
  font-size: 4rem;
}
h2,
.h2 {
  font-size: 3.5rem;
}
h3,
.h3 {
  font-size: 3rem;
}
h4,
.h4 {
  font-size: 2.5rem;
}
h5,
.h5 {
  font-size: 1.5rem;
}
h6,
.h6 {
  font-size: 1.125rem;
}

.w-100 {
  width: 100%;
}
.text-light {
  color: var(--text-secondary);
}

a {
  &.text-light {
    color: var(--text-tertiary);
    &:hover {
      color: var(--text-primary);
    }
  }
}

.outline {
  outline: solid 1px red;
}
.site-header {
  width: 100%;
  height: 50px;
  // border-bottom: solid 1px var(--border-default);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  padding-left: 50px;
  background-color: white;
  box-shadow: 0 -6px 6px 3px rgba(0,0,0,0.5)
}

.header-gap {
  padding-top: 50px;
}

.site-aside {
  padding-top: calc(50px + .5rem);
}

.site-nav {
  width: 50px;
  height: 100%;
  border-right: solid 1px var(--border-default);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;
}
.site-logo {
  width: 100px;
  height: 50px;
  // background-color: yellow;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0 0;
  margin: 0;
  transform: rotate(-90deg);
  transform-origin: top left;
  margin-top: 100px;
  img {
    margin: 0;
    padding: 0;
  }
}

.site-brand {
  position: fixed;
  bottom: 0;
  left: 0;
  // transform: rotate(-90deg);
  // transform-origin: top left;
  white-space: nowrap;
  // padding-left: 58px;
  // display: none; // hide for temporary
  // &::before{
  //   width: 50px;
  //   height: 2px;
  //   content: '';
  //   background-color: var(--text-primary);
  //   display: block;
  //   left: 0;
  //   top:0;
  // }
}

.site-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  // transform: rotate(-90deg);
  // transform-origin: top left;
  // margin-top: 50px;

  li {
    width: auto;
    height: 50px;

    a {
      text-decoration: none;
      color: var(--text-secondary);
      display: inline-block;
      width: auto;
      height: 100%;
      padding: 0 1rem;
      position: relative;
      letter-spacing: 0.1rem;
      &:hover {
        background-color: var(--bg-default);
        &::before {
          display: block;
          content: "";
          width: 100%;
          height: 2px;
          background-color: var(--primary);
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 2;
        }
      }
    }
    &.is-active {
      a {
        &::before {
          display: block;
          content: "";
          width: 100%;
          height: 2px;
          background-color: var(--primary);
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 2;
        }
      }
    }
  }

  &.social {
    width: 50px;

    li {
      height: auto;
      display: flex;
      text-align: center;
      width: 100%;

      a {
        padding: 15px 0;;
        width: 100%;
      }
    }
  }
}

.site-main {
  padding-top: 0px;
  padding-left: 50px;
  background-color: white;
}

.adjust-anchor {
  &:target:before {
    content: "";
    display: block;
    height: 50px; /* fixed header height*/
    margin: -50px 0 0; /* negative fixed header height */
  }
}

.title-main {
  font-weight: 400;
  font-size: 4.5rem;
  letter-spacing: 1rem;
  line-height: 1.2em;
  position: relative;
  margin: 0 0 2rem 0;
  padding-bottom: 2rem;
  &:after {
    content: "";
    width: 72px;
    height: 5px;
    display: block;
    background: #222;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  span {
    display: block;
    &:nth-child(1) {
      letter-spacing: 1.4rem;
      color: var(--text-primary);
    }
    &:nth-child(2) {
      color: var(--text-tertiary);
    }
    &:nth-child(3) {
      letter-spacing: 1.1rem;
      color: var(--text-primary);
    }
  }
}
.color-heading { color : var(--text-heading) }
.title-sub {
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

.list-casual {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0.5rem 0.5rem;
    &:hover {
      // background-color: var(--text-secondary);
      // color: white;
    }
  }
}
.list-plain {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0.5rem 0.5rem;
  }
}

.break-link {
  word-break: break-word; /* Break words when necessary */
  overflow-wrap: break-word; /* Ensure the text wraps within the container */
  white-space: normal; /* Allow wrapping of text */
}

.column-count-1 {
  column-count: 1;
  -webkit-column-count: 1; /* For older versions of Safari */
  text-align: center;
}

.column-count-2 {
  column-count: 2;
  -webkit-column-count: 2; /* For older versions of Safari */
}

.column-count-3 {
  column-count: 3;
  -webkit-column-count: 3; /* For older versions of Safari */
}

.column-count-4 {
  column-count: 4;
  -webkit-column-count: 4; /* For older versions of Safari */
}


.design-result-highlight {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  div {
      &:first-child {
          width: 100%;
      }
      width: calc(25% - 1rem);
  }
}

#designResultImages{
  a{
    &:hover{
      outline: dotted 1px var(--primary);
    }
  }
}

.btn-scroll-top{
  width: 36px;
  height: 36px;
  border: solid 1px var(--primary);
  color: var(--primary);
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  z-index: 65;
  background-color: rgba($primary, .1);
  &:hover{
    background-color: var(--primary);
    svg{
      fill: white;
    }
  }
  &:active{
    background-color: var(--text-secondary);
  }
}


.works-container {
  width: 100%;
  height: auto;
}

.card-wrapper {
  display: none;
}

.show {
  display: block;
}

.card {
  // border: solid 1px var(--border-default);
  display: block;
  position: relative;
  text-decoration: none;
  color: var(--text-primary);

  .card-cover {
    // perspective: 1000px;
    // perspective-origin: 50% 50%;
    aspect-ratio: 16/10;
    & > img {
      width: 100%;
      aspect-ratio: 16/10;
      object-fit: cover;
      position: absolute;
      z-index: 0;
      border: 1px solid var(--border-default);
      border-radius: .5rem;
      // transition: cubic-bezier(.76,.34,.23,.65) .2s
    }
  }
  .card-title{
    // font-weight: 600;
    font-size: 1.5rem;
  }
  &:hover {
    .card-cover {
      & > img {
        border: solid 1px var(--text-tertiary);
      }
    }
    .card-title {
      text-decoration: underline;
    }
  }
}

.photo-item {
  margin-bottom: -4px;
}

.btn {
  border: solid 1px var(--text-primary);
  background-color: white;
  color: var(--text-primary);
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  display: inline-flex;
  line-height: 1.25rem;
  vertical-align: middle;
  &:hover {
    background-color: var(--text-primary);
    color: white;
  }
  &.active {
    background-color: var(--text-primary);
    color: white;
  }
  &.btn-small{
    padding: 0.25rem 0.5rem;
    line-height: 1.25rem;
    font-size: calc(16/16) + rem;
  }
  &.btn-light{
    &:hover{
        background-color: var(--bg-default);
        color: var(--text-primary);
    }
  }
}

.tag {
  font-size: .925rem;
  color: var(--text-secondary);
  background-color: rgba($primary, .05);
  padding: 2px 4px;
  border-radius: 4px;
}

#detailImage {
  width: 100%;
  height: auto;
}

#detailVideo {
  width: 100%;
  height: 100%;
}

.bento-box {
  background-color: var(--bg-default);
  border-radius: 1rem;
  // border: solid 1px var(--border-default);
  overflow: hidden;
  height: 100%;
  p {
    font-size: 1.125rem;
  }
}

.border{
  border: solid 1px var(--border-default);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline; // Display breadcrumb items inline
    margin-right: 0.5rem;

    &:not(:last-child)::after {
      content: "/";
      margin-left: 0.5rem;
      color: #ccc; // Color for the separator
    }

    a {
      text-decoration: none;
      color: var(--text-secondary); // Default link color
      transition: color 0.3s;

      &:hover {
        color: var(--text-primary); // Hover color for links
        text-decoration: underline;
      }

      &:focus {
        outline: none;
        text-decoration: underline;
      }
    }

    &.active {
      a {
        color: var(--text-tertiary); // Color for active breadcrumb
        pointer-events: none; // Disable clicking on active breadcrumb
        cursor: default;
      }
    }
  }
}

.steps {
  display: block;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: step;
  list-style-type: none;
  padding-inline-start: 0;

  li {
    position: relative;
    // flex: 1;
    text-align: center;
    font-size: 1rem;
    list-style-type: none;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0 0 0 0;
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 32px;

    &:not(:last-child)::after {
      display: none;
    }

    &::after {
      display: none;
      width: 0;
    }

    &::before {
      content: counter(step);
      counter-increment: step;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.4rem;
      border-radius: 50%;
      background-color: none; // Default step circle color
      color: var(--text-primary);
      font-weight: bold;
      border: solid 1px var(--text-secondary);
      margin-right: 0.5rem;
    }
  }
}

.font-icon,
.tool-library,
.link-demo {
  background-repeat: no-repeat;
  background-position: bottom right;
}

.font-icon {
  background-image: url("../asset/ui-icon-typeface.svg");
}
.tool-library {
  background-image: url("../asset/ui-icon-puzzle.svg");
}
.link-demo {
  background-image: url("../asset/ui-icon-link.svg");
}

.text-uppercase {
  text-transform: uppercase;
}

.tool-logo {
  width: 32px; /* Set the size of the logo */
  height: auto;
  margin-right: 8px; /* Space between the logo and text */
  vertical-align: middle; /* Align logo with text */
}


.site-subheader{
    width: 100%;
    height: 32px;
    position: sticky;
    top: 50px;
    z-index: 102;
    padding: .5rem 0;
    background-color: white;
    // outline: solid 1px red;
}

.works-nav {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 103;
  bottom: 0;
  left: 0;
  padding-left: calc(50px + .5rem);
  padding-right: .5rem;
  display: flex;
  justify-content: center;
  a {
    display: block; /* Use block instead of inline-flex */
    width: 50%;
    max-width: 100%; /* Ensure it respects the parent container's size */
    max-width: 200px;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // text-align: left;
    // vertical-align: middle;
    text-align: center;
    line-height: 16px;
    &:last-child{
      margin-left: -1px;
    }
    img {
      width: 14px;
      height: auto;
      vertical-align: bottom;
    }
  }
}


#detailContent{
    margin-top: 1.75rem;
    // outline: solid 1px red;
}

#worksCuratedContainer{
  margin-left: -15px!important;
  margin-right: -15px!important;
}

.social-media-list{
    height: 50px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
        display: inline-block;
        margin-left: 1rem;
        a{
            img{
                height: 1.5rem;
            }
        }
    }
}

.tab-nav{
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin; /* For Firefox */
  gap: .5rem;
  .btn{
    flex: 0 0 auto; /* Prevent buttons from shrinking or growing */
  }
}
.tab-nav::-webkit-scrollbar {
  height: 6px; /* Adjust scrollbar height */
}

.tab-nav::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Customize scrollbar color */
  border-radius: 3px;
}

.tab-nav::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.orderDisplay {
  position: fixed;
  display: flex;
  padding: 0 .5rem;
  align-items: center;
  justify-content: center;
  height: 50px;
  top: 0;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-secondary);
}

.box-style {
  border: 1px solid #F4EEFB;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.box-style:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
  -moz-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
  box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
}

.box-style:hover .box-icon-style {
  color: #fff;
  border-color: transparent;
  background: linear-gradient(#3763eb 0%, #6f58e8 100%);
}

.box-style:hover .box-icon-style::after {
  opacity: 1;
  visibility: visible;
}

.box-style .box-icon-style {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #3763EB;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3763EB;
  font-size: 40px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
}

.box-icon-style i {
  font-size: 4.5rem;
}

.box-style .box-icon-style::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(#3763eb 0%, #6f58e8 100%);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: -1;
  border-radius: 50%;
  border: 1px solid transparent;
}

#home {
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 0.8500000000000001px, rgba(229, 229, 247,.2) 0.8500000000000001px);
  background-size: 17px 17px;
}

#team {
  // background-color: #e5e5f7;
  // opacity: 0.2;
  background-image:  radial-gradient(rgba(0, 0, 0, 0.2) 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(rgba(0, 0, 0, 0.2) 0.8500000000000001px, rgba(229, 229, 247,.2) 0.8500000000000001px);
  background-size: 34px 34px;
  background-position: 0 0,17px 17px;
}

@media (min-width: 992px) {
  .site-aside {
    position: sticky;
    top: 0px;
    padding-top: 0;
  }
  .title-main {
    font-size: 6.5rem;
  }
  .steps {
    display: flex;
    li {
      padding: 0 3rem 0 0.5rem;
      &:not(:last-child)::after {
        display: block;
        width: 48px;
        height: 5px;
        background-image: url("../asset/line-arrow-right.svg");
        background-repeat: no-repeat;
        background-position: center center;
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 1;
      }
    }
  }
  .section-full {
    min-height: 100vh;
    // min-height: calc(100vh - 50px);
    // outline: solid 1px red;
  }

  .works-nav {
    position: relative;
    width: auto;
    height: auto;
    z-index: 103;
    bottom: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    a {
      display: inline-flex;
      width: auto;
      max-width: 100%;
    }
  }

  .site-subheader{
    width: 100%;
    height: 64px;
    position: sticky;
    top: 50px;
}
}

// init from my old mac