section#service.py-lg-5.section-full.d-flex.align-items-center.scrollspy-content
    .container
        .row
            //- .col-xl-6.col-lg-7.col-md-9.mx-auto
            //-     .section-title.text-center.mb-55
            //-         span.wow.fadeInDown(data-wow-delay='.2s' style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;') Services
            //-         h2.wow.fadeInUp(data-wow-delay='.4s' style='visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;') Our Best Services
            //-     p.wow.fadeInUp(data-wow-delay='.6s' style='visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;')
            //-         | At vero eos et accusamus et iusto odio
            .col-12
                h3.mb-0.color-heading SERVICE
                p.mt-2.text-light
                    i A highly-experienced product engineering team and a modern and battle-tested approach will empower you to create innovative applications that customers love.
        .row
            .col-lg-6.col-md-6.mb-4
                .service-box.box-style.p-4
                    .d-flex.align-self-center.align-items-center
                        .service-icon.box-icon-style
                            i.lni(class="bi bi-brush")
                        h4.ms-3.text-primary Product Design & UI/UX
                    .box-content-style.service-content
                        span.barlow-condensed-semibold-italic.fs-4 Elevate your digital product experience with our product design and UX services expertise.
                        p We transform your revolutionary ideas and noble intentions into a successful product design that's sleek, innovative, and tailored to your needs, passionately crafted for its looks and interaction to maximize functionality and represent every value and vision laid on to every user with a seamless experience.
            .col-lg-6.col-md-6.mb-4
                .service-box.box-style.p-4
                    .d-flex.align-self-center.align-items-center
                        .service-icon.box-icon-style
                            i(class="bi bi-lightning")
                        h4.ms-3.text-primary Build Applications
                    .box-content-style.service-content
                        span.barlow-condensed-semibold-italic.fs-4 Deliver the reliable, modern, and long-lasting applications your customers love
                        p   
                            | We construct your business idea into sustainable applications by leveraging cutting-edge technology to boost your business by reaching millions of customers on any scale and in any form of modern, innovative, and reliable applications from mobile phones, web, desktop, smartwatches to every smart TV in your customer's living room.
            .col-lg-6.col-md-6
                .service-box.box-style.p-4
                    .d-flex.align-self-center.align-items-center
                        .service-icon.box-icon-style
                            i(class="bi bi-rocket")
                        h4.ms-3.text-primary Mordernize Application
                    .box-content-style.service-content
                        span.barlow-condensed-semibold-italic.fs-4 Make your applications stay relevant, reliable, and resilient to empower your business.
                        p   We deeply understand that outdated and sluggish software applications can slow your business. Modernizing applications is crucial for companies that want to stay competitive and relevant in today's fast-paced digital landscape and break the limit of the ability to integrate with new technologies.
            
            //- .col-lg-6.col-md-6
                .shadow.p-4.rounded
                    .service-box.box-style
                            .service-icon.rounded-circle.border
                                img.text-secondary(src=baseURL+"/img/icon/rocket.svg", alt="ui/ux and product design" width="100")
                    .box-content-style.service-content
                        h4.my-2 Mordernize Application
                        span.barlow-condensed-semibold-italic.fs-4 Make your applications stay relevant, reliable, and resilient to empower your business.
                        p We deeply understand that outdated and sluggish software applications can slow your business. Modernizing applications is crucial for companies that want to stay competitive and relevant in today's fast-paced digital landscape and break the limit of the ability to integrate with new technologies.
            
            .col-lg-6.col-md-6
                .service-box.box-style.p-4
                    .d-flex.align-self-center.align-items-center
                        .service-icon.box-icon-style
                            i(class="bi bi-gear-wide")
                        h4.ms-3.text-primary Build As You Wish
                    .box-content-style.service-content
                        span.barlow-condensed-semibold-italic.fs-4 Your Vision, Our Expertise – Let’s Build It Together!
                        p  Turn your unique ideas into reality with tailor-made digital solutions designed to meet your specific needs. Whether it's a custom web platform, a cutting-edge app, or a hybrid solution, we bring your vision to life with precision and creativity. From ideation to launch, we collaborate closely to ensure every detail aligns with your goals and exceeds expectations. If you can dream it, we can build it!

            //- .col-lg-6.col-md-6
                .shadow.p-4.rounded
                    .service-box.box-style
                            .service-icon.rounded-circle.border
                                img.text-secondary(src=baseURL+"/img/icon/gear-wide.svg", alt="ui/ux and product design" width="100")
                    .box-content-style.service-content
                        h4.my-2 Build As You Wish
                        span.barlow-condensed-semibold-italic.fs-4 Deliver the reliable, modern, and long-lasting applications your customers love
                        p   
                            | We construct your business idea into sustainable applications by leveraging cutting-edge technology to boost your business by reaching millions of customers on any scale and in any form of modern, innovative, and reliable applications from mobile phones, web, desktop, smartwatches to every smart TV in your customer's living room.

    //- .container
    //-     .row 
    //-         .col-12
    //-             h3.mb-0 SERVICE
    //-             p.mt-2.text-light
    //-                 i Area of expertise
    //-         .row
    //-             .col-lg-4
    //-                 h5.mt-lg-0.mb-3.ms-2 SOFT
    //-                 ul.list-casual 
    //-                     li Design Systems
    //-                     li Wireframing
    //-                     li Prototyping
    //-                     li Iconography
    //-                     li Responsive Design

    //-             .col-lg-4 
    //-                 h5.mt-lg-0.mb-3.ms-2 TOOL
    //-                 ul.list-casual 
    //-                     li Figma
    //-                     li Sketch App
    //-                     li 
    //-                         | Adobe Creative Suite 
    //-                         i.text-light (Ps, Ai, Lr, Xd)
    //-                     li Figjam

    //-             .col-lg-4
    //-                 h5.mt-lg-0.mb-3.ms-2 TECHNICAL
    //-                 ul.list-casual 
    //-                     li HTML and CSS
    //-                     li Jquery and basic JavaScript
    //-                     li Pug (JavaScript)
    //-                     li Sass CSS
    //-                     li Understanding of Semantic HTML, SEO-friendly practices, and image optimization
    //-                     li Familiarity with front-end frameworks such as Bootstrap