//  Start Service Area 
section#service.services.section
  .container
    .row
      .col-lg-8.offset-lg-2.col-12
        .section-title
          span.wow.fadeInDown(data-wow-delay='.2s') What We Offer You
          h2.wow.fadeInUp(data-wow-delay='.4s') Our Services
          p.wow.fadeInUp(data-wow-delay='.6s') Delivering Impactful Digital Solutions with Precision & Passion.
    .row
      .col-lg-4.col-md-6.col-12
        .single-service.wow.fadeInUp(data-wow-delay='.2s')
          .serial
            span
              i.lni.lni-code
          h3
            a(href='service-single.html') Custom Development
          p We design and build fast, reliable, and scalable digital products — from responsive websites to feature-rich mobile applications.
      .col-lg-4.col-md-6.col-12
        .single-service.wow.fadeInUp(data-wow-delay='.3s')
          .serial
            span
              i.lni.lni-vector
          h3
            a(href='service-single.html') UI/UX & Product Design
          p Beautiful meets functional. We craft seamless user experiences that bring your brand to life and keep users coming back.
      .col-lg-4.col-md-6.col-12
        .single-service.wow.fadeInUp(data-wow-delay='.4s')
          .serial
            span
              i.lni.lni-ux
          h3
            a(href='service-single.html') AI-Powered Solutions
          p Integrate AI to boost automation, personalization, and decision-making in your applications with our intelligent system development.
      .col-lg-4.col-md-6.col-12
        .single-service.wow.fadeInUp(data-wow-delay='.5s')
          .serial
            span
              i.lni.lni-bricks
          h3
            a(href='service-single.html') System &amp; Backend Architecture
          p Connect the dots with solid backend and system integration to ensure smooth operations behind the scenes.
      .col-lg-4.col-md-6.col-12
        .single-service.wow.fadeInUp(data-wow-delay='.6s')
          .serial
            span
              i.lni.lni-bar-chart
          h3
            a(href='service-single.html') Digital Strategy &amp; Tech Consulting
          p Turn ideas into executable plans. We provide strategic insights to align your technology with your business goals.
      .col-lg-4.col-md-6.col-12
        .single-service.wow.fadeInUp(data-wow-delay='.7s')
          .serial
            span
              i.lni.lni-cloud
          h3
            a(href='service-single.html') Cloud &amp; DevOps Solutions
          p Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions
//  /End Services Area 