//- section#home.py-lg-5.section-full.d-flex.align-items-center.adjust-anchor.scrollspy-content
//-     .container
//-         .row.pt-5.d-flex.align-items-center
//-             .col-6
//-                 h1.color-heading Indonesia’s Leading Innovator in Web and Mobile Solutions
//-                 p We specialize in designing, building, and maintaining mobile apps, robust backends, and dynamic dashboards tailored to elevate businesses. Our solutions turn every investment into sustainable growth with lasting impact. Backed by years of experience, we have partnered with leading industries like finance and education software that drives success
//-                 a.btn(href="#about") Learn More
//-             .col-6
//-                 picture
//-                     //- source(media="(min-width:1200px)" srcset=src=baseURL+"asset/hero-dikaseva.webp")
//-                     //- source(media="(min-width:992px)" srcset=src=baseURL+"asset/hero-dikaseva-sm.webp")
//-                     img(src=src=baseURL+"img/img-jtd-hero.webp" loading="lazy" alt="Image")


<!-- Start Hero Area -->
section#home.hero-slider
  //  Single Slider 
  .single-slider
    .container
      .row
        .col-lg-6.co-12
          .home-slider
            .hero-text
              span.small-title.wow.fadeInUp(data-wow-delay='.3s') Business Solution
              h1.wow.fadeInUp(data-wow-delay='.5s')
                span We Provide Quality
                br
                | Consulting Services
              p.wow.fadeInUp(data-wow-delay='.7s')
                | We don’t just build software — we help you make the right digital decisions. 
                br
                | Our consulting services guide you from strategy to execution, ensuring every solution aligns with your business goals. 
              .button.wow.fadeInUp(data-wow-delay='.9s')
                a.btn.mouse-dir(href='#service' title='Discover More About JTD Services')
                  | Discover More 
                  span.dir-part
            .hero-text
              span.small-title Business 
              h1
                span Scale Your Business
                br
                | with Technology
              p
                | We help you unlock new growth through smart, scalable tech. 
                br 
                | By combining deep technical knowledge with business insight, we build digital solutions that grow with you — from MVPs to enterprise systems. 
                br
                | Let technology do the heavy lifting, so you can focus on what matters most: expanding your impact.
              .button
                a.btn.mouse-dir(href='about-us.html')
                  | Discover More 
                  span.dir-part