section#team.team-area.section
  .container
    .row
      .col-lg-8.offset-lg-2.col-12
        .section-title
          span.wow.fadeInDown(data-wow-delay='.2s' style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;') Team
          h2.wow.fadeInUp(data-wow-delay='.4s' style='visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;') People Behind Us
          p.wow.fadeInUp(data-wow-delay='.6s' style='visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;') Their expert in their respective fields
    .row
      .col-lg-4.col-md-4.col-12
        .team-card.wow.fadeInUp(data-wow-delay='.3s' style='visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;')
          .team-img
            img(src='img/teams/jepri-team.webp' alt='Jepri Sinaga' style='object-fit: cover; height: 366px; object-position: 0% 15%;')
            .team-social-icon
              ul.social-link
                li
                  a(href='https://x.com/JepriSinaga' target='_blank' )
                    i.lni.lni-twitter-original
                li
                  a(href='https://www.instagram.com/jeprisinaga/' target='_blank')
                    i.lni.lni-instagram-original
                li
                  a(href='https://www.linkedin.com/in/jeprisinaga/' target='_blank')
                    i.lni.lni-linkedin-original
          .content
            h3 Jepri Sinaga
            span Founder - Director
            p Introducing JTD to the world, Jepri Sinaga is a visionary tech leader whose passion, experience, and commitment have shaped JTD into a trusted and innovative force in the industry.
      //- .col-lg-4.col-md-4.col-12
      //-   .team-card.wow.fadeInUp(data-wow-delay='.5s' style='visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;')
      //-     .team-img
      //-       img(src='img/teams/afandi-team.webp' alt='Afandi' style='object-fit: cover; height: 366px; object-position: 0% 15%;')
      //-       .team-social-icon
      //-         ul.social-link
      //-           li
      //-             a(href='https://www.instagram.com/fandifandii/' target='_blank' )
      //-               i.lni.lni-instagram-original
      //-           li
      //-             a(href='https://www.linkedin.com/in/afandi-afandi/' target='_blank')
      //-               i.lni.lni-linkedin-original
      //-     .content
      //-       h3 Afandi
      //-       span Founder - Director
      //-       p Afandi is a skilled data engineer and software developer whose expertise in data analysis, machine learning, and problem-solving has been key to driving JTD’s technical excellence and client success.
      .col-lg-4.col-md-4.col-12
        .team-card.wow.fadeInUp(data-wow-delay='.7s' style='visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;')
          .team-img
            img(src='img/teams/hengki-team.webp' alt='Hengki' style='object-fit: cover;')
            .team-social-icon
              ul.social-link
                li
                  a(href='https://www.instagram.com/hengkiardo/' target='_blank')
                    i.lni.lni-instagram-original
                li
                  a(href='https://www.linkedin.com/in/hengkisihombing/' target='_blank')
                    i.lni.lni-linkedin-original
          .content
            h3 Hengki Sihombing
            span Founder - Commissioner
            p Expert in technical project management, operations and software development, whose leadership and strategic vision have been instrumental in driving JTD’s success and innovation.
      //- .col-lg-3.col-md-3.col-12
        .team-card.wow.fadeInUp(data-wow-delay='.7s' style='visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;')
          .team-img
            img(src='img/teams/maul-team.webp' alt='Maulana' style='object-fit: cover; height: 366px; object-position: 0% 15%;')
            .team-social-icon
              ul.social-link
                li
                  a(href='https://www.instagram.com/maulanapesch/' target='_blank')
                    i.lni.lni-instagram-original
                li
                  a(href='https://www.linkedin.com/in/maulana-pesch-91287759' target='_blank')
                    i.lni.lni-linkedin-original
          .content
            h3 Maulana
            span Founder - Commissioner
            p Passionate and experienced software engineer whose technical expertise and innovative mindset have been vital in shaping JTD’s direction and delivering top-tier solutions to clients.