section#team.py-lg-5.scrollspy-content.section-full
    .container
        h3.mb-0.color-heading TEAM
        .d-lg-flex.justify-content-between.alignt-items-center.mb-4
            div
                p.mt-2.text-light.mb-0
                    i One of the hobby through the lens
