//  Start Clients Area 
section.client-logo-section
  .container
    .client-logo-wrapper
      .client-logo-carousel.d-flex.align-items-center.justify-content-between
        .client-logo
          img(src='img/clients/logo-bank-indonesia.webp' alt='Jawara Teknologi Digital Client - Bank Indonesia')
        .client-logo
          img(src='img/clients/logo-prakerja.webp'  alt='Jawara Teknologi Digital Client - Prakerja')
        .client-logo
          img(src='img/clients/logo-KPPMIBP2MI.webp' alt='Jawara Teknologi Digital Client - KPPMIBP2MI')
        .client-logo
         img(src='img/clients/logo-ojk.webp' alt='Jawara Teknologi Digital Client - OJK')
        .client-logo
          img(src='img/clients/logo-fintech.webp' alt='Jawara Teknologi Digital Client - Fintech Indonesia') 
        .client-logo
          img(src='img/clients/logo-aspi.webp' alt='Jawara Teknologi Digital Client - Aosiasi Perusahaan Pembiayaan Indonesia') 
//  End Clients Area 