.single-list
    .post-thumbnils
        //- img(src='assets/images/blog/blog-single.jpg' alt='#')
        span.skeleton-box(style='width:100%; height: 200px;')
    .post-details
        .detail-inner
            h2.post-title
                span.skeleton-box.rounded.me-2(style='width:100%;height: 32px;')
            //  post meta 
            ul.custom-flex.post-meta
                li
                a(href='#')
                    //- i.lni.lni-user
                    span.skeleton-box.rounded.me-2(style='width:32px;height: 32px;')

                li
                a(href='#')
                    //- i.lni.lni-calendar
                    span.skeleton-box.rounded.me-2(style='width:32px;height: 32px;')

            p 
                span.skeleton-box.mb-1(style='width:100%;')
            .button
                span.skeleton-box.rounded.me-2(style='width:100px;height: 32px;')